<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>
<header th:replace="fragments/dashboard.html :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/dashboard.html :: nav"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="container">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'#' + ${rapport.id} + ' ' + ${rapport.medecin.nom} + ' ' + ${rapport.medecin.prenom}"></h5>
                                <p class="card-subtitle" th:text="${rapport.date}"></p>
                            </div>
                            <div class="container">
                                <div class="row mb-1">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>Motif</b> : <span th:text="${rapport.motif}"></span></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>Bilan</b> : <span th:text="${rapport.bilan}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a th:href="@{/rapports/{id}/edit(id=${rapport.id})}"
                                   class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h4>Médicaments</h4>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Famille</th>
                            <th scope="col">Quantité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offrir: ${rapport.rapportOffrir}">
                            <th scope="row" th:text="${offrir.medicament.id}"></th>
                            <td th:text="${offrir.medicament.nomCommercial}"></td>
                            <td th:text="${offrir.medicament.famille.libelle}"></td>
                            <td th:text="${offrir.quantite}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>

<footer th:replace="fragments/dashboard.html :: footer"></footer>
</body>
</html>