<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>
<header th:replace="fragments/dashboard.html :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/dashboard.html :: nav"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="container">
                <form class="row g-3" method="POST"
                      th:action="@{/rapports/{id}(id=${rapportEditForm.id})}"
                      th:object="${rapportEditForm}">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                        Une erreur est survenue, veuillez vérifier votre saisie
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ID</label>
                        <input class="form-control" disabled name="inputRapportID"
                               th:value="${rapportEditForm.id}" type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputRapportMotif">Motif</label>
                        <input class="form-control" id="inputRapportMotif" name="inputRapportMotif" th:errorclass="is-invalid"
                               th:field="*{motif}" th:value="${rapportEditForm.motif}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('motif')}">
                            Veuillez saisir un motif valide
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="inputRapportBilan">Bilan</label>
                        <input class="form-control" id="inputRapportBilan" name="inputRapportBilan" th:errorclass="is-invalid"
                               th:field="*{bilan}" th:value="${rapportEditForm.bilan}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('bilan')}">
                            Veuillez saisir un bilan valide
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>

        </main>
    </div>
</div>

<footer th:replace="fragments/dashboard.html :: footer"></footer>
</body>
</html>