<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>
<header th:replace="fragments/dashboard.html :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/dashboard.html :: nav"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="container">
                <form class="row g-3" method="POST" th:action="@{/medecins/{id}(id=${medecin.id})}"
                      th:object="${medecin}">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                        Une erreur est survenue, veuillez vérifier votre saisie
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ID</label>
                        <input class="form-control" disabled name="inputMedecinID"
                               th:value="${medecin.id}" type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinNom">Nom</label>
                        <input class="form-control" id="inputMedecinNom" name="inputMedecinNom"
                               th:errorclass="is-invalid"
                               th:field="*{nom}" th:value="${medecin.nom}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nom')}">
                            Veuillez saisir un nom valide
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinPrenom">Prénom</label>
                        <input class="form-control" id="inputMedecinPrenom" name="inputMedecinPrenom"
                               th:errorclass="is-invalid"
                               th:field="*{prenom}" th:value="${medecin.prenom}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('prenom')}">
                            Veuillez saisir un prénom valide
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinAdresse">Adresse</label>
                        <input class="form-control" id="inputMedecinAdresse" name="inputMedecinAdresse"
                               th:errorclass="is-invalid"
                               th:field="*{adresse}" th:value="${medecin.adresse}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('adresse')}">
                            Veuillez saisir une adresse valide
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinTel">Tél</label>
                        <input class="form-control" id="inputMedecinTel" name="inputMedecinTel"
                               th:errorclass="is-invalid"
                               th:field="*{tel}" th:value="${medecin.tel}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('tel')}">
                            Veuillez saisir un numéro de téléphone valide (0123456789)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinSpecialite">Spécialité complémentaire</label>
                        <input class="form-control" id="inputMedecinSpecialite" name="inputMedecinSpecialite"
                               th:errorclass="is-invalid"
                               th:field="*{specialiteComplementaire}" th:value="${medecin.specialiteComplementaire}"
                               type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputMedecinDepartement">Département</label>
                        <input class="form-control" id="inputMedecinDepartement" name="inputMedecinDepartement"
                               th:errorclass="is-invalid"
                               th:field="*{departement}" th:value="${medecin.departement}" type="text">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('departement')}">
                            Veuillez saisir un département valide
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>

        </main>
    </div>
</div>

<footer th:replace="fragments/dashboard.html :: footer"></footer>
</body>
</html>