<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>
<header th:replace="fragments/dashboard.html :: header"></header>

<div class="container-fluid">
  <div class="row">
    <nav th:replace="fragments/dashboard.html :: nav"></nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="${title}"></h1>
      </div>

      <div class="container">
        <form th:action="@{/rapports}" th:object="${rapportForm}" method="POST"
              class="row g-3">
          <div class="col-md-6">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" name="inputRapportID"
                   th:value="${rapportForm.getRapport().id}" disabled>
            <input type="text" class="form-control" name="inputRapportID"
                   th:field="*{rapport.id}" th:value="${rapportForm.getRapport().id}" hidden>
          </div>
          <div class="col-md-6">
            <label for="inputRapportDate" class="form-label">Date</label>
            <input type="date" class="form-control" name="inputRapportDate" id="inputRapportDate"
                   th:field="*{rapport.date}" th:value="${rapportForm.getRapport().date}" required>
          </div>
          <div class="col-md-6">
              <label for="inputRapportMedecin" class="form-label">Medecin</label>
            <select th:field="*{medecinId}" class="form-select" name="inputRapportMedecin" id="inputRapportMedecin" required>
              <option th:each="medecin : ${medecinList}" th:value="${medecin.getId()}" th:text="${medecin.getNom()}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputRapportMotif" class="form-label">Motif</label>
            <input type="text" class="form-control" name="inputRapportMotif" id="inputRapportMotif"
                   th:field="*{rapport.motif}" th:value="${rapportForm.getRapport().motif}" required>
          </div>
          <div class="col-md-12">
            <label for="inputRapportBilan" class="form-label">Bilan</label>
            <input type="text" class="form-control" name="inputRapportBilan" id="inputRapportBilan"
                   th:field="*{rapport.bilan}" th:value="${rapportForm.getRapport().bilan}" required>
          </div>

          <div class="col-md-6">
            <label for="inputRapportMedicament0id" class="form-label">Médicament</label>
            <select class="form-select" name="offrirForms[0].medicamentId" id="inputRapportMedicament0id" required>
              <option th:each="medicament : ${medicamentList}" th:value="${medicament.getId()}" th:text="${medicament.getNomCommercial()}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputRapportMedicament0qty" class="form-label">Quantité</label>
            <input type="text" class="form-control" name="offrirForms[0].quantite" id="inputRapportMedicament0qty" required>
          </div>

          <div class="col-md-6">
            <label for="inputRapportMedicament1id" class="form-label">Médicament</label>
            <select class="form-select" name="offrirForms[1].medicamentId" id="inputRapportMedicament1id" required>
              <option th:each="medicament : ${medicamentList}" th:value="${medicament.getId()}" th:text="${medicament.getNomCommercial()}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputRapportMedicament1qty" class="form-label">Quantité</label>
            <input type="text" class="form-control" name="offrirForms[1].quantite" id="inputRapportMedicament1qty" required>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>

    </main>
  </div>
</div>

<footer th:replace="fragments/dashboard.html :: footer"></footer>
</body>
</html>