<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body>
<header th:replace="fragments/dashboard.html :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/dashboard.html :: nav"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Accueil</h1>
            </div>

            <div class="container">
                <div class="row mb-4">
                    <div class="col">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h4>Vos 10 derniers rapports</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Médecin</th>
                                <th scope="col">Motif</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rapport: ${rapports}">
                                <th scope="row" th:text="${rapport.id}"></th>
                                <td th:text="${rapport.medecin.nom} + ' ' + ${rapport.medecin.prenom}"></td>
                                <td th:text="${rapport.motif}"></td>
                                <td th:text="${rapport.date}"></td>
                                <td><a class="btn btn-primary" th:href="@{/rapports/{id}(id=${rapport.id})}">Détails</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments/dashboard.html :: footer"></footer>
</body>
</html>